/* app css stylesheet */
.container.main{
  padding-top: 50px;
}
.groupList {
  padding-bottom: 20px;
} 
.userList{
  padding-bottom: 10px;
}
#userCoreID{
	height: 33px;
	margin-left: 15px;
}

.searchField{
	padding-top: 40px;
}
a:hover {
	cursor: pointer;
}

.groupsByUserList, .groupByUserList{
	padding-top: 20px;
}

.userFilterList{
	padding-top: 20px;
}

.bold-span {
    font-family: "bariol_boldbold";
    margin-left: 5px;
}