<div class="large-padded-row">
	<div class="padded-row searchField col-md-3">
		<div angucomplete-alt 
		id="some-id" 
		placeholder="Search users" 
		pause="500" 
		selected-object="selectedUser" 
		remote-url="http://stash.mot-solutions.com:7990/rest/api/1.0/admin/users" 
		remote-url-request-formatter="getAllUserFilter" 
		remote-url-data-field="values" 
		title-field="displayName" 
		minlength="2" 
		input-class="form-control form-control-small" 
		match-class="highlight">
		</div>
	</div>
	<div class="searchResult col-md-9">
		<h2> Groups with {{userDisplayName}}</h2>
		<div ng-repeat="gu in groupsByUser" class="groupList col-md-5">
			<a class="list-group-item">{{gu.name}}</a>
		</div>
	</div>
	<p>{{uci}}</p>
</div>